<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189381920997-8g0ep5bgvi5avvsphqi16hrj9k1jc55p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189381920997-8g0ep5bgvi5avvsphqi16hrj9k1jc55p</string>
	<key>API_KEY</key>
	<string>AIzaSyDwaYC71Jez0pyyU4uKaxnnC8DTH1-UBhY</string>
	<key>GCM_SENDER_ID</key>
	<string>189381920997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test0</string>
	<key>PROJECT_ID</key>
	<string>store-291d5</string>
	<key>STORAGE_BUCKET</key>
	<string>store-291d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189381920997:ios:e0095449f88cc0821fec0c</string>
</dict>
</plist>